.footer {
    background-color: var(--color-secundario);
    /* Un tono ligeramente más oscuro para el cierre */
    padding: 2rem 5%;
    color: var(--color-texto-suave);
    font-size: 0.9rem;
    border-top: 1px solid rgba(var(--color-blanco-rgb), 0.03);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

.text-cyan {
    color: var(--color-primario);
    font-weight: 600;
}

.footer-socials {
    display: flex;
    gap: 1.5rem;
}

.footer-socials a {
    color: var(--color-texto-suave);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-socials a:hover {
    color: var(--color-primario);
    /* Iluminación cian en hover */
}
